body{
	font-family: sans-serif;
}
h1 {
	margin-top: 20px;
	margin-bottom: 10px;
    text-align: center;
    font-size: 175%;

}

.container{
  	box-sizing: border-box;
	margin: 0;
	padding: 0;

	width: 100%;
}
.row {
	width: 100%;
}

  .cell {
  	margin: 10px;
  	border: solid 1px black;
  	background-color: lightgray;
  	max-height: 200px;
  	overflow: hidden;
  }
.cell  p  {
	padding: 10px;
}
  .cell > h2 {
  	margin: 0;
  	margin-bottom: 10px;
  	float: right;
  	border: solid 1px black;
  	align-content: center;
  	position: relative;
  	top:-1px;
  	left:1px;
  	width: 200px;
  	text-align: center;
  	font-size: 125%;
  }
  .cell  p {
  	clear: right;
  	margin: 10px;
  }

  #Chicken > h2{
   background-color: lightsalmon;  
  }
  #Beef > h2{
   background-color: maroon;  
   color: white;
  }
  #Sushi > h2{
   background-color: khaki;  
  }

  @media(max-width: 766px){
     .cell {
      margin-bottom: 20px;
     }
  }

  @media(min-width: 767px) and (max-width: 991px){
  	.col-sm-6{
  		width: 50%;
  		float: left;
  	}
    .row div.col-sm-6:last-child {
    	width: 100%;
    }
  }
  @media(min-width: 992px){
  	.col-md-4{
  		width: 33.33%;
  		float: left;
  	}
  }
